################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApp1/.vs/MiniShell/v15/Server/sqlite3
